{% extends 'account/base.html' %}


{% block content %}
    <br>
    <div id="layoutSidenav_content">
        <main class="container-fluid">
            <div class="p-5 rounded" style="background-color:azure;">
                <h4 style="text-align: center;font-size: 30px;">UPDATE USER</h4>
                <a href="{% url 'user' %}" class="btn btn-primary btn-sm" style="float: left; width: 100px;">Go
                    Back</a><br><br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}     
            
                    <br>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </main>
    </div>


{% endblock %}